{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% if error %}
        <p>Login/mot de passe erroné</p>
    {% endif %}

    <form action="authentification" method="post" id="connexion_form">
        {% csrf_token %}
        <table >
            {% for field in form_connexion %}
            <tbody>
            <tr>
              <td>
                <label for="{{ field.label }}" style="display:inline-block;vertical-align:middle">{{ field.label_tag }}</label>
              </td>
              <td>
                {{ field }}
              </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Connexion" />
    </form>

{% endblock %}