{% load static %}

      <a href="#home"> <div class="col-lg-2 menu" id="menu_accueil">Home</div></a>

      <a href="#project"> <div class="col-lg-2 menu" id="menu_projet">Personal projects</div></a>

      <a href="#formation"> <div class="col-lg-2 menu" id="menu_formation">Diplomas</div></a>

      <a href="#experience"> <div class="col-lg-2 menu" id="menu_experience">Professional experience</div></a>

      <a href="#skills"> <div class="col-lg-2 menu" id="menu_competences">Skills</div></a>

      <a href="#contact"> <div class="col-lg-2 menu" id="menu_contact">Contact</div></a>

      <div class="col-lg-1 menu" id="menu_empty"> t </div>

