{% load static %}
<div class="row all_menu">
    <!--<div class="col-md-3">-->

        <!--<form action="home" method="post">-->
            <!--{% csrf_token %}-->
            <!--<input type="image" src="{% static 'img/logo.png' %}" class="img_menu">-->
        <!--</form>-->
    <!--</div>-->



      <div class="col-lg-3 menu_admin">Gerer les experiences</div>

      <div class="col-lg-3 menu_admin">Gerer les formations</div>

      <div class="col-lg-3 menu_admin">Gerer les competences</div>

      <div class="col-lg-3 menu_admin">Gerer les projets</div>


</div>