<h1> Contact me </h1>
<hr width="80%" class="hr-yellow" />
<br />

<form action="/send_mail_to_me" method="post">
    {% csrf_token %}
    <table >
        {% for field in form_contact %}
        <tbody>
        <tr>
          <td>
            <label for="{{ field.label }}" style="display:inline-block;vertical-align:middle">{{ field.label_tag }}</label>
          </td>
          <td>
            {{ field }}
          </td>
        </tr>

        {% endfor %}
        <tr>
            <td></td>
            <td>
                <div class="form-actions">
                    <button type="submit">Send</button>
                </div>

            </td>
        </tr>

        </tbody>
    </table>

</form>



<br /><br />