{% load static %}
<h1> Contact me </h1>
<hr width="80%" class="hr-blue" />
<br />

<table >
    <tbody>
    <tr>
      <td>
        <img src="{% static 'img/gmail.png' %}">
      </td>
      <td>
        <p> : sadour.mehdi@gmail.com</p>
      </td>
    </tr>


    <tr>
      <td>
        <img src="{% static 'img/linkedin.png' %}">
      </td>
      <td>
        : <a href="https://www.linkedin.com/in/mehdisadour/" class="color_with_dark_background">Mehdi Sadour</a>
      </td>
    </tr>


    <tr>
      <td>
        <img src="{% static 'img/github.png' %}">
      </td>
      <td>
        : <a href="https://github.com/msadour" id="github" class="color_with_dark_background">msadour</a>
      </td>
    </tr>


    </tbody>
</table>



<br /><br />