{% load static %}
<h1>Are you looking for a Python developer?</h1>
<hr width="80%" class="hr-blue" />
<br />
<table border="0">

    <tr>
        <th> <img src="{% static 'img/moi_photo.jpg' %}" id="photo_me"> </th>
        <th> <br /> </th>
        <th id="desc_home">
            <p class="text">
            Hello, my name is Mehdi and I am passionate about Python programming.<br />

              I am a recent graduate of a training course with Openclassrooms (<a href="https://openclassrooms.com/fr/paths/68-developpeur-dapplication-python">DÉVELOPPEUR D'APPLICATION - PYTHON </a>). <br />
                I can develop your applications with Django or Flask frameworks.<br />
                In this  website, you can see my skills, professional experiences and my personal projects. <br />
                To contact me, please, click <a href="#contact">here</a>.
            </p>



            <br />
        <button id="btn_dl">
                <a href="{% static 'files/CV102018 - english V2.pdf' %}" download="CV102018 - english V2.pdf" >Download CV</a>
            </button>


        </th>
    </tr>

</table>


<br />




<br /><br />