{% load static %}
<h1>Are you looking for a Python developper?</h1>
<hr width="80%" class="hr-blue" />
<br />
<table border="0">

    <tr>
        <th> <img src="{% static 'img/moi_photo.jpg' %}" id="photo_me"> </th>
        <th> <br /> </th>
        <th id="desc_home">
            <p class="text">
            My name is Mehdi, i'm 26 and I'm passionate by Python development.<br />

            Currently in formation with Openclassrooms (<a href="https://openclassrooms.com/fr/paths/68-developpeur-dapplication-python">DÉVELOPPEUR D'APPLICATION - PYTHON </a>). <br />
                I can developp your application with the framework Django (or Flask). In this <br />
                website, you can see my skills, professional experiences and my personal project. <br />
                If you want contact me, click <a href="#contact">here</a>.
            </p>



            <br />
        <button id="btn_dl">
                <a href="{% static 'files/CV13052018.pdf' %}" download="CV13052018.pdf" >Download CV</a>
            </button>


        </th>
    </tr>

</table>


<br />




<br /><br />