{% load static %}
<h1>Are you looking for a Web developer?</h1>
<hr width="80%" class="hr-blue" />
<br />
<table border="0">

    <tr>
        <th> <img src="{% static 'img/moi_photo.jpg' %}" id="photo_me"> </th>
        <th> <br /> </th>
        <th id="desc_home">
            <p class="text">
            My name is Mehdi and I am passionate about web programming. Recently graduate of a training course with Openclassrooms (<a href="https://openclassrooms.com/fr/paths/68-developpeur-dapplication-python">Python application developer</a>)
                I can develop/improve your web applications with quality coding. Having a strong experience with python, I am also opening to learn news skills according to your requirements. During my training, I developed entirely web applications with the Django and Flask frameworks as well as the creation of their databases through the analysis of their specifications and also learned to write clear code (PEP8), unit tests and configure continous integration files (Travis). In this  website, you can see my skills, professional experiences and my personal projects. To contact me, please, click <a href="#contact">here</a>.</p>


            <br />
        <button id="btn_dl">
                <a href="{% static 'files/CV102018 - english V2.pdf' %}" download="CV102018 - english V2.pdf" >Download CV</a>
            </button>


        </th>
    </tr>

</table>

<br />